{{ define "main" }}
  <div class="page-header">
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}
      <p>{{ . }}</p>
    {{ end }}
  </div>
  <div class="container">
    <h2>Projetos em Destaque</h2>
    <div class="projects-grid" id="projects-grid-container">
      {{ range .Pages.ByWeight }}
        <a href="{{ .RelPermalink }}" style="text-decoration: none;">
          <div class="project-card">
	    <img src="{{ .Params.imagem }}" alt="Imagem do projeto {{ .Title }}">
	    <div class="project-card-content">
	      <h3>{{ .Title }}</h3>
   	      <p>{{ .Params.description }}<p>
	      {{ if eq .Params.status_projeto "em-andamento" }}
                <span class="status status-inprogress">Em Andamento</span>
	      {{ else if eq .Params.status_projeto "concluido" }}
                <span class="status status-completed">Concluído</span>
	      {{ end }}
	    </div>
	  </div>
	</a>
      {{ end }}
    </div>
  </div>
{{ end }}
