{{ define "main" }}
  <div class="page-header">
    <h1>{{ .Title }}</h1>
    {{ with .Params.description }}
      <p>{{ . }}</p>
    {{ end }}
  </div>
  <div class="container">
    <div class="projects-grid" id="projects-grid-container">
      {{ range .Pages.ByWeight }}
        <a href="{{ .RelPermalink }}" style="text-decoration: none;">
          <div class="project-card">
	    <img src="{{ .Params.imagem }}" alt="{{ T "imagem-do-projeto" (dict "Name" .Title) }}">
	    <div class="project-card-content">
	      <h3>{{ .Title }}</h3>
   	      <p>{{ .Params.description }}<p>
	      {{ if eq .Params.status_projeto "em-andamento" }}
                <span class="status status-inprogress">{{ i18n "em-andamento" }}</span>
	      {{ else if eq .Params.status_projeto "concluido" }}
                <span class="status status-completed">{{ i18n "concluido" }}</span>
	      {{ end }}
	    </div>
	  </div>
	</a>
      {{ end }}
    </div>
  </div>
{{ end }}
