<nav class="navbar">
<img src="/img/logo.jpeg" alt="Logo UFRJ Harpia" class="logo-nav">

<ul class="nav-links">
<li><a href="{{ "/" | relLangURL }}">Página Inicial</a></li>
<li><a href="{{ "/nossa-equipe" | relLangURL }}">Nossa Equipe</a></li>
<li><a href="{{ "/projetos" | relLangURL }}">Projetos</a></li>
<li><a href="{{ "/contato" | relLangURL }}">Contato</a></li>
</ul>

<button class="hamburger-menu">
<span class="bar"></span>
<span class="bar"></span>
<span class="bar"></span>
</button>
</nav>

